<style>
    /* Add a black background color to the top navigation */
    .topnav {
        background-color: #333;
        overflow: hidden;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        border-bottom: 3px solid transparent;
    }

    .topnav a:hover {
        border-bottom: 3px solid red;
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFVOZ2CsKQIPT0Lk06f5bNALaBIuEhMWppBg&s');
    }

    header {
        text-align: left;
        background: rgba(0,0,0,0.5);
        padding: 20px;
    }

    .lower-header {
        text-transform: lowercase;
    }

    .typing-text {
        overflow: hidden; 
        border-right: .15em solid orange; 
        white-space: nowrap; 
        margin: 0 auto; 
        letter-spacing: .15em; 
        animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
    }

    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: orange }
    }

    .topnav a.active {
        border-bottom: 3px solid red;
    }

    /* Custom square landscape design for the result box */
    #geoIPResult {
        width: 400px;
        height: 300px;
        border: 2px solid red;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        overflow-y: auto;
    }

    /* Custom design for the track button */
    #trackButton {
        padding: 10px 20px;
        background-color: red;
        color: green;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    #trackButton:hover {
background: rgba(0,0,0,0.5);
    }

    /* Style for terminal-like output */
    #geoIPResult, #deviceInfo, #timezoneInfo, #portScanResult {
        font-family: 'Courier New', Courier, monospace;
        background-color: black;
        color: green; /* Changed text color to green */
        padding: 10px;
        margin-bottom: 20px;
    }

    /* Style for terminal-like output text */
    #geoIPResult p, #deviceInfo p, #timezoneInfo p, #portScanResult p {
        margin: 0;
        padding: 0;
    }

    .keylogger-box {
        background-color: #333;
        color: #fff;
        padding: 10px;
        margin-top: 20px;
        border-radius: 5px;
    }

    .keylogger-box h3 {
        margin-top: 0;
    }

    #keylogger {
        width: 96%;
        height: 100vh;
        background-color: #000;
        color: lime;
        border: none;
        border-radius: 5px;
        padding: 10px;
        font-family: monospace;
        resize: none;
    }
</style>